@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: "Roboto", sans-serif;
	margin: 0;
	/* display: flex;
	flex-direction: column; */
	/* justify-content: center; */
	/* align-items: center; */
	height: 100vh;
	/* overflow: hidden; */
}

.text-block {
	text-align: justify;
	color: whitesmoke;
	font-family: "Arial", sans-serif;
	font-weight: 800;
	font-size: 96px;
	letter-spacing: -5px;
	line-height: 90%;
	-webkit-font-smoothing: none;
	padding: 2%;
}

#one {
	background-color: lightgoldenrodyellow;
	color: black;
	font-size: 32px;
	line-height: 105%;
	letter-spacing: -0.75px;
	font-weight: 100;
}

#two {
	background-color: lightgoldenrodyellow;
	color: black;
	font-size: 88px;
	line-height: 80%;
	letter-spacing: -5px;
	text-align: justify;
	rotate: -1deg;
	position: sticky;
}

#three {
	font-size: 32px;
	letter-spacing: 1px;
	rotate: 1deg;
}

#four {
	color: black;
	background-color: white;
	font-weight: 200;
}

#five {
	color: black;
	background-color: lightgoldenrodyellow;
}

#six {
	color: black;
	background-color: aliceblue;
	/* font-weight: 100; */
	letter-spacing: -2px;
	font-size: 32px;
	line-height: 110%;
	rotate: 4deg;
	font-stretch: condensed;
}

.highlight {
	font-weight: 800;
}
